@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --primary-color: #04385C;
  --secondary-color: #FBF7E5;
  --tertiary-color: #8B133B;
  --text-color: #20252D;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden;
}

h1 {
  font-size: 72px;
}

