:root {
  --primary-color: #04385C;
  --secondary-color: #FBF7E5;
  --tertiary-color: #8B133B;
  --text-color: #20252D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Helvetica';
}

h1{
  font-size: 72px;
}

/* body {
  user-select: none;
} */

* {
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  transition: none !important;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

